.portion {
    display        : flex;
    flex-direction : column;
    width          : 100%;
}

.portion.horizontal { flex-direction : row; }

.portion[data-desktop-span="1"] { grid-column : span 1; }

.portion.one-twelfth,
.portion[data-desktop-span="2"] { grid-column : span 2; }

.portion.one-eighth,
.portion[data-desktop-span="3"] { grid-column : span 3; }

.portion.one-sixth,
.portion[data-desktop-span="4"] { grid-column : span 4; }

.portion[data-desktop-span="5"] { grid-column : span 5; }

.portion.one-fourth,
.portion[data-desktop-span="6"],
.portion[data-desktop-span="one-fourth"] { grid-column : span 6; }

.portion[data-desktop-span="7"] { grid-column : span 7; }

.portion.one-third,
.portion[data-desktop-span="8"],
.portion[data-desktop-span="one-third"] { grid-column : span 8; }

.portion[data-desktop-span="9"] { grid-column : span 9; }

.portion.five-twelfth,
.portion[data-desktop-span="10"] { grid-column : span 10; }

.portion[data-desktop-span="11"] { grid-column : span 11; }

.portion.half,
.portion[data-desktop-span="12"],
.portion[data-desktop-span="half"] { grid-column : span 12; }

.portion[data-desktop-span="13"] { grid-column : span 13; }

.portion.seven-twelfth,
.portion[data-desktop-span="14"] { grid-column : span 14; }

.portion[data-desktop-span="15"] { grid-column : span 15; }

.portion.two-third,
.portion[data-desktop-span="16"] { grid-column : span 16; }

.portion[data-desktop-span="17"] { grid-column : span 17; }

.portion.three-fourth,
.portion[data-desktop-span="18"] { grid-column : span 18; }

.portion[data-desktop-span="19"] { grid-column : span 19; }

.portion.five-sixth,
.portion[data-desktop-span="20"] { grid-column : span 20; }

.portion.seven-eighth,
.portion[data-desktop-span="21"] { grid-column : span 21; }

.portion.eleven-twelfth,
.portion[data-desktop-span="22"] { grid-column : span 22; }

.portion[data-desktop-span="23"] { grid-column : span 23; }

.portion.whole,
.portion[data-desktop-span="24"],
.portion[data-desktop-span="whole"] { grid-column : span 24; }


@media all and (max-width : 600px) {
    .portion[data-mobile-span="1"] { grid-column : span 1; }

    .portion.one-twelfth-on-mobile,
    .portion[data-mobile-span="2"] { grid-column : span 2; }

    .portion.one-eighth-on-mobile,
    .portion[data-mobile-span="3"] { grid-column : span 3; }

    .portion.one-sixth-on-mobile,
    .portion[data-mobile-span="4"] { grid-column : span 4; }

    .portion[data-mobile-span="5"] { grid-column : span 5; }

    .portion.one-fourth-on-mobile,
    .portion[data-mobile-span="6"] { grid-column : span 6; }

    .portion[data-mobile-span="7"] { grid-column : span 7; }

    .portion.one-third-on-mobile,
    .portion[data-mobile-span="8"],
    .portion[data-mobile-span="one-third"] { grid-column : span 8; }

    .portion[data-mobile-span="9"] { grid-column : span 9; }

    .portion.five-twelfth-on-mobile,
    .portion[data-mobile-span="10"] { grid-column : span 10; }

    .portion[data-mobile-span="11"] { grid-column : span 11; }

    .portion.half-on-mobile,
    .portion[data-mobile-span="12"],
    .portion[data-mobile-span="half"] { grid-column : span 12; }

    .portion[data-mobile-span="13"] { grid-column : span 13; }

    .portion.seven-twelfth-on-mobile,
    .portion[data-mobile-span="14"] { grid-column : span 14; }

    .portion[data-mobile-span="15"] { grid-column : span 15; }

    .portion.two-third-on-mobile,
    .portion[data-mobile-span="16"] { grid-column : span 16; }

    .portion[data-mobile-span="17"] { grid-column : span 17; }

    .portion.three-fourth-on-mobile,
    .portion[data-mobile-span="18"] { grid-column : span 18; }

    .portion[data-mobile-span="19"] { grid-column : span 19; }

    .portion.five-sixth-on-mobile,
    .portion[data-mobile-span="20"] { grid-column : span 20; }

    .portion.seven-eighth-on-mobile,
    .portion[data-mobile-span="21"] { grid-column : span 21; }

    .portion.eleven-twelfth-on-mobile,
    .portion[data-mobile-span="22"] { grid-column : span 22; }

    .portion[data-mobile-span="23"] { grid-column : span 23; }

    .portion.whole-on-mobile,
    .portion[data-mobile-span="24"],
    .portion[data-mobile-span="whole"] { grid-column : span 24; }
}


@media all and (min-width : 601px) and (max-width : 900px) {
    .portion[data-tabPT-span="1"] { grid-column : span 1; }

    .portion.one-twelfth-on-tab-pt,
    .portion[data-tabPT-span="2"] { grid-column : span 2; }

    .portion.one-eighth-on-tab-pt,
    .portion[data-tabPT-span="3"] { grid-column : span 3; }

    .portion.one-sixth-on-tab-pt,
    .portion[data-tabPT-span="4"] { grid-column : span 4; }

    .portion[data-tabPT-span="5"] { grid-column : span 5; }

    .portion.one-fourth-on-tab-pt,
    .portion[data-tabPT-span="6"] { grid-column : span 6; }

    .portion[data-tabPT-span="7"] { grid-column : span 7; }

    .portion.one-third-on-tab-pt,
    .portion[data-tabPT-span="8"] { grid-column : span 8; }

    .portion[data-tabPT-span="9"] { grid-column : span 9; }

    .portion.five-twelfth-on-tab-pt,
    .portion[data-tabPT-span="10"] { grid-column : span 10; }

    .portion[data-tabPT-span="11"] { grid-column : span 11; }

    .portion.half-on-tab-pt,
    .portion[data-tabPT-span="12"] { grid-column : span 12; }

    .portion[data-tabPT-span="13"] { grid-column : span 13; }

    .portion.seven-twelfth-on-tab-pt,
    .portion[data-tabPT-span="14"] { grid-column : span 14; }

    .portion[data-tabPT-span="15"] { grid-column : span 15; }

    .portion.two-third-on-tab-pt,
    .portion[data-tabPT-span="16"] { grid-column : span 16; }

    .portion[data-tabPT-span="17"] { grid-column : span 17; }

    .portion.three-fourth-on-tab-pt,
    .portion[data-tabPT-span="18"] { grid-column : span 18; }

    .portion[data-tabPT-span="19"] { grid-column : span 19; }

    .portion.five-sixth-on-tab-pt,
    .portion[data-tabPT-span="20"] { grid-column : span 20; }

    .portion.seven-eighth-on-tab-pt,
    .portion[data-tabPT-span="21"] { grid-column : span 21; }

    .portion.eleven-twelfth-on-tab-pt,
    .portion[data-tabPT-span="22"] { grid-column : span 22; }

    .portion[data-tabPT-span="23"] { grid-column : span 23; }

    .portion.whole-on-tab-pt,
    .portion[data-tabPT-span="24"] { grid-column : span 24; }
}



@media all and (min-width : 901px) and (max-width : 1200px) {
    /* .row:not(.retain-layout-on-tab-ls) > &:not([class*='on-tab-ls']) { grid-column : span 24; } */

    .portion[data-tabLS-span="1"] { grid-column : span 1; }

    .portion.one-twelfth-on-tab-ls,
    .portion[data-tabLS-span="2"] { grid-column : span 2; }

    .portion.one-eighth-on-tab-ls,
    .portion[data-tabLS-span="3"] { grid-column : span 3; }

    .portion.one-sixth-on-tab-ls,
    .portion[data-tabLS-span="4"] { grid-column : span 4; }

    .portion[data-tabLS-span="5"] { grid-column : span 5; }

    .portion.one-fourth-on-tab-ls,
    .portion[data-tabLS-span="6"] { grid-column : span 6; }

    .portion[data-tabLS-span="7"] { grid-column : span 7; }

    .portion.one-third-on-tab-ls,
    .portion[data-tabLS-span="8"] { grid-column : span 8; }

    .portion[data-tabLS-span="9"] { grid-column : span 9; }

    .portion.five-twelfth-on-tab-ls,
    .portion[data-tabLS-span="10"] { grid-column : span 10; }

    .portion[data-tabLS-span="11"] { grid-column : span 11; }

    .portion.half-on-tab-ls,
    .portion[data-tabLS-span="12"] { grid-column : span 12; }

    .portion[data-tabLS-span="13"] { grid-column : span 13; }

    .portion.seven-twelfth-on-tab-ls,
    .portion[data-tabLS-span="14"] { grid-column : span 14; }

    .portion[data-tabLS-span="15"] { grid-column : span 15; }

    .portion.two-third-on-tab-ls,
    .portion[data-tabLS-span="16"] { grid-column : span 16; }

    .portion[data-tabLS-span="17"] { grid-column : span 17; }

    .portion.three-fourth-on-tab-ls,
    .portion[data-tabLS-span="18"] { grid-column : span 18; }

    .portion[data-tabLS-span="19"] { grid-column : span 19; }

    .portion.five-sixth-on-tab-ls,
    .portion[data-tabLS-span="20"] { grid-column : span 20; }

    .portion.seven-eighth-on-tab-ls,
    .portion[data-tabLS-span="21"] { grid-column : span 21; }

    .portion.eleven-twelfth-on-tab-ls,
    .portion[data-tabLS-span="22"] { grid-column : span 22; }

    .portion[data-tabLS-span="23"] { grid-column : span 23; }

    .portion.whole-on-tab-ls,
    .portion[data-tabLS-span="24"] { grid-column : span 24; }
}
