.row {
    display               : grid;
    width                 : 100%;
    grid-template-columns : repeat(24, 1fr);
    margin-bottom         : 4vh;
}

.row.no-gutters     { grid-gap : 0; }
.row.nano-gutters   { grid-gap : 2px; }
.row.micro-gutters  { grid-gap : 4px; }
.row.tiny-gutters   { grid-gap : 8px; }
.row.small-gutters  { grid-gap : 12px; }
.row.medium-gutters { grid-gap : 16px; }
.row.large-gutters  { grid-gap : 24px; }
.row.huge-gutters   { grid-gap : 32px; }

@media all and (max-width : 900px) {
    .row.huge-gutters,
    .row.large-gutters,
    .row.medium-gutters,
    .row.small-gutters,
    .row.tiny-gutters { grid-gap : 8px; }
}

@media all and (max-width : 600px) {
    .row.huge-gutters,
    .row.large-gutters,
    .row.medium-gutters,
    .row.small-gutters,
    .row.tiny-gutters { grid-gap : 4px; }
}

.row.side-padding-nano {
    padding-left  : 1vw;
    padding-right : 1vw;
}

.row.side-padding-micro {
    padding-left  : 2vw;
    padding-right : 2vw;
}

.row.side-padding-tiny {
    padding-left  : 4vw;
    padding-right : 4vw;
}

.row.side-padding-small {
    padding-left  : 8vw;
    padding-right : 8vw;
}

.row.side-padding-medium {
    padding-left  : 12vw;
    padding-right : 12vw;
}

.row.side-padding-large {
    padding-left  : 18vw;
    padding-right : 18vw;
}

.row.side-padding-huge {
    padding-left  : 24vw;
    padding-right : 24vw;
}

@media all and (min-width : 2400px) {
    .row.side-padding-tiny {
        padding-left  : 8vw;
        padding-right : 8vw;
    }

    .row.side-padding-small {
        padding-left  : 12vw;
        padding-right : 12vw;
    }

    .row.side-padding-medium {
        padding-left  : 16vw;
        padding-right : 16vw;
    }

    .row.side-padding-large {
        padding-left  : 24vw;
        padding-right : 24vw;
    }

    .row.side-padding-huge {
        padding-left  : 32vw;
        padding-right : 32vw;
    }
}

@media all and (max-width : 1600px) {
    .row.side-padding-tiny {
        padding-left  : 2vw;
        padding-right : 2vw;
    }

    .row.side-padding-small {
        padding-left  : 4vw;
        padding-right : 4vw;
    }

    .row.side-padding-medium {
        padding-left  : 8vw;
        padding-right : 8vw;
    }

    .row.side-padding-large {
        padding-left  : 12vw;
        padding-right : 12vw;
    }

    .row.side-padding-huge {
        padding-left  : 16vw;
        padding-right : 16vw;
    }
}

@media all and (max-width : 1200px) {
    .row.side-padding-tiny {
        padding-left  : 2vw;
        padding-right : 2vw;
    }

    .row.side-padding-small {
        padding-left  : 4vw;
        padding-right : 4vw;
    }

    .row.side-padding-medium {
        padding-left  : 6vw;
        padding-right : 6vw;
    }

    .row.side-padding-large {
        padding-left  : 8vw;
        padding-right : 8vw;
    }

    .row.side-padding-huge {
        padding-left  : 10vw;
        padding-right : 10vw;
    }
}

@media all and (max-width : 600px) {
    .row[class*="side-padding-"] {
        padding-left  : 6vw;
        padding-right : 6vw;
    }

    .row:not(.retain-layout-on-mobile) > ${PortionStyled}:not([class*="on-mobile"]) { grid-column : span 24; }
}

@media all and (min-width : 601px) and (max-width : 900px) {
    .row:not(.retain-layout-on-tab-pt) > ${PortionStyled}:not([class*="on-tab-pt"]) { grid-column : span 24; }
}
