body {
    font-size        : var(--paras-font-size);
    line-height      : var(--paras-line-height);
    font-family      : var(--paras-font-family);
    word-wrap        : normal;
    text-rendering   : optimizeLegibility;
    background-color : var(--body-bg-colour);
}

h1, h2, h3, h4, h5, h6 {
    font-family : var(--headings-font-family);
    font-weight : var(--headings-font-weight);
    color       : var(--headings-text-colour);
    line-height : var(--headings-line-height);
    margin      : 0;
}

h1 { font-size : calc(var(--headings-size-multiplier) * 4.8em); }
h2 { font-size : calc(var(--headings-size-multiplier) * 3.6em); }
h3 { font-size : calc(var(--headings-size-multiplier) * 2.4em); }
h4 { font-size : calc(var(--headings-size-multiplier) * 1.8em); }
h5 { font-size : calc(var(--headings-size-multiplier) * 1.4em); }
h6 { font-size : calc(var(--headings-size-multiplier) * 1.2em); }

@media all and (max-width : 720px) {
    h1 { font-size : 32px; }
    h2 { font-size : 28px; }
    h3 { font-size : 24px; }
    h4 { font-size : 20px; }
    h5 { font-size : 18px; }
    h6 { font-size : 16px; }
    p  { font-size : 14px; }

    h1, h2, h3, h4, h5, h6 { word-wrap : break-word; }
}

p {
    font-family : var(--paras-font-family);
    color       : var(--paras-text-colour);
}

a {
    cursor      : pointer;
    font-family : var(--links-font-family);
    color       : var(--links-default-colour);
    font-weight : bold;
    transition  : all 0.2s;
    width       : fit-content;
}

a:not(.ff-button):hover { color : var(--links-hover-colour); }

a:active { opacity: 0.72; }

.font-sans  { font-family : var(--font-sans); }
.font-serif { font-family : var(--font-serif); }
.font-mono  { font-family : var(--font-mono); }

.weight-100,
*[data-font-weight="100"] { font-weight : 100; }

.weight-200,
*[data-font-weight="200"] { font-weight : 200; }

.weight-300,
*[data-font-weight="300"] { font-weight : 300; }

.weight-400,
*[data-font-weight="400"] { font-weight : 400; }

.weight-500,
*[data-font-weight="500"] { font-weight : 500; }

.weight-600,
*[data-font-weight="600"] { font-weight : 600; }

.weight-700,
*[data-font-weight="700"] { font-weight : 700; }

.weight-800,
*[data-font-weight="800"] { font-weight : 800; }

.weight-900,
*[data-font-weight="900"] { font-weight : 900; }

.text-nano   { font-size :  48%; }
.text-micro  { font-size :  64%; }
.text-tiny   { font-size :  72%; }
small,
.text-small  { font-size :  90%; }
.text-medium { font-size : 100%; }
.text-large  { font-size : 120%; }
.text-huge   { font-size : 160%; }

.text-left   { text-align : left; }
.text-centre,
.text-center { text-align : center; }
.text-right  { text-align : right; }

/*  Colour of highlight and text colour  */
/*  For Firefox browsers  */
::-moz-selection {
    background : var(--selection-bg);
    color      : var(--selection-text);
}
/*  For Webkit browsers  */
::selection {
    background : var(--selection-bg);
    color      : var(--selection-text);
}
