form {
    display        : flex;
    position       : relative;
    width          : 100%;
    flex-direction : column;
}

form.spacing-none > .form-item:not(:last-child),
form[data-spacing="none"] > .form-item:not(:last-child) {
    margin-bottom : 0;
}

form.spacing-nano > .form-item:not(:last-child),
form[data-spacing="nano"] > .form-item:not(:last-child) {
    margin-bottom : 8px;
}

form.spacing-micro > .form-item:not(:last-child),
form[data-spacing="micro"] > .form-item:not(:last-child) {
    margin-bottom : 12px;
}

form.spacing-tiny > .form-item:not(:last-child),
form[data-spacing="tiny"] > .form-item:not(:last-child) {
    margin-bottom : 16px;
}

form.spacing-small > .form-item:not(:last-child),
form[data-spacing="small"] > .form-item:not(:last-child) {
    margin-bottom : 24px;
}

form.spacing-medium > .form-item:not(:last-child),
form[data-spacing="medium"] > .form-item:not(:last-child) {
    margin-bottom : 32px;
}

form.spacing-large > .form-item:not(:last-child),
form[data-spacing="large"] > .form-item:not(:last-child) {
    margin-bottom : 40px;
}

form.spacing-huge > .form-item:not(:last-child),
form[data-spacing="huge"] > .form-item:not(:last-child) {
    margin-bottom : 48px;
}
